<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header-div">
        <h1>Hello!!</h1>
    </div>

    <div class="image-div">
        <img src="https://media.giphy.com/media/Cmr1OMJ2FN0B2/giphy.gif" frameborder="0" width="250"></img>
    </div>

    <div class="form-div">
        <form>
            <input id="name" class="form-control" type="text" class="input" placeholder="Enter your name" required>
            <button class="btn btn-primary btn-sm" onclick="handleFormSubmit(event)">Submit</button>
        </form>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>
